<div class="container footer-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="footer row col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="footer-timer col-xs-4 col-sm-4 col-md-4 col-lg-4">
			
		
		</div>
		<div class="footer row col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<div class="footer-socials">
				<a href="#"><span class="socials">Vk</span></a>
				<a href="#"><span class="socials">F</span></a>
				<a href="#"><span class="socials">Inst</span></a>
			</div>
			<div class="footer-partners">
				<span class="text-foot">Партнеры:</span>
				<a href="#"><img src="" alt="Партнер" /></a>
				<a href="#"><img src="" alt="Партнер" /></a>
				<a href="#"><img src="" alt="Партнер" /></a>
			</div>	
		</div>
	</div>
</div>
