<div class="who-page col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<div class="who-header  no-padding col-sm-12 col-md-12 col-lg-12 text-center">
	<H2> КТО МЫ? </h2>
</div>
<div class="coolstory  no-padding col-sm-12 col-md-12 col-lg-12">
	<p>
ПУЛЬС — это информационный портал студенчества ХНУ имени В.Н.Каразина. У нас можно найти новости, актуальные для студенчества, узнать всю правду о преподавателях, ознакомиться с результатами журналистских расследований на базе университета, найти информацию о том, как и где провести вечер, найти подходящие для вас студенческие программы и конкурсы…
<br/>
<br/>
Наша цель – объединить  все последние новости из мира студенчества «под одной крышей».
<br/>
<br/>
Мы стартовали в сентябре 2015 года как пробный проект. Время идёт – и мы совершенствуем ПУЛЬС ради наших читателей. Сегодня коллектив ПУЛЬСА состоит из 30 человек, таких же студентов, как и наши подписчики.
<br/>
<br/>
Мы существуем для наших читателей, а посему открыты к любым предложениям и сотрудничеству. Будем рады выслушать ваши студенческие проблемы и поможем с ними разобраться.
</p>
<%= link_to "Как с нами связаться?", contacts_path%>
</div>
</div>
<div class=" stupid-face col-xs-12 col-sm-6 col-md-6 col-lg-6"></div>
</div>
