// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


                        /*-----HEADER------*/
.header-wrapper{  
    background: #B8B8B8;                  
  & .header-categories{
     height:50px;
     background: #EBEBEB;
     & ul{
        text-align:center;
     & li{
        display:inline-block;
        lists-style:none;
      }
    }
  }
  & .header-logo{
    min-height:100px;
    background: #D1CFCF;
    & a{ 
     float:left;
     }
    & h2{
      font-size:24px;
      text-align:center;
    }
  }
}
                      /*-------CONTENT-ALL-------*/
                     
.slider{
  min-height:300px;
  background: #C5A1A5;
}

.content-article{
  & .article-title{
    min-height: 30px;
    min-width: 170px;
    margin-bottom: 20px;
    text-align: right;
    & h3{
     font-size:24px;
     display: inline;
     }
    & a{}
  }
  & .article{
    width: 32%;
    background: #A5A1A5;
    float:left;
    margin:5px;
  }
}

.content-page{
  min-height:250px;
  & .page-sidebar{
    & .interview{
      min-height:130px;
      background: #A5A1C5;
    }
    & .cloud-tag{
      min-height:130px;
      background: #A5C1A5;
    }
  }
  & .page{
    background: #A5F1A5;
    & .article-title{
       in-height: 30px;
       min-width: 170px;
       margin-bottom: 20px;
       text-align: right;
      & h3{
        display: inline;
      }
      & a{}
    }
    & .page-preview{
      width:30%;
      min-height:100px;
      float:left;
      margin:5px;
      background: #A5C1A5;
      & .page-img{
        height:100px;
        width:auto;
      }
      & a{
        display:block;
      }
      
    }
  }
}

                            /*-------CONTENT-SHOW-------*/
                           
 .page-wapper{    
 background: #E6E6E6;                  
    & .page-body{
    min-height:200px;
     font-family:MS Sans Serif;
    background: #B3B3B3;
    & .page-text{
       & .page-title{
         text-align:center;
         min-height:70px;
         background: #DBDBDB;
       & .page-img{
           & img{
             width:150px;
             height:auto;
             float: left;
             margin: 10px;
           }
          }
       & .page-set{
          float: right;
          & span{
            padding:5px;
          }
          }
       }
       & .page-info{
       min-height:150px;
       background: #DBDBDB;
        & p{
          margin-left: 10px;
        }
        }
       & .about-autor{
        background: #FFF67A;
        min-height:80px;
        }     
       & .comment{
        background:#BAB6B6;
        min-height:80px;
        & textarea{
          resize:none;
           width: 420px;
           height: 70px;
           display: block;
          }
        } 
      }
     & .read-more{
     background: #DBDBDB;
     & a{
       text-decoration:none;
       margin:5px;
       background: #A6A6A6;
       display: block;
       min-height: 50px;
     }
     & .reclam{
       text-align:center;
       min-height:100px;
       min-width:100px;
       background: #F00;
     }
   }
  }                       
 }                 
                                /*-------FOOTER-------*/
.footer-wrapper{  
  background: #B0B0B0;                            
  & .footer { 
    background: #B0B0B0; 
    min-height:150px;                           
    & .footer-timer{
      min-height:150px;
      background: #DBDBDB;
    }                             
    & .footer-socials{
      & .socials{
        min-height:75px;
        background: #DBDBDB;
        margin-bottom:5px;
        text-align: center;
       & a{
         line-height: 75px;
       }
      }
      & .partners{
        min-height:75px;
        background: #DBDBDB;
       & span{}
       & a{}
      }
     }
    }
   }