// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

*{
  font-family: Roboto, sans-serif;
  }
.no-padding{padding-left:0!important;padding-right:0!important;}
                        /*-----HEADER------*/

.title-image-div{
  padding: 0px;
  margin-bottom: 25px;
  height: 600px;
  position: relative;
  & img{
    transform: scale(1, .8);
  }
}

#size{
  padding: 0;
}

.title-button{
  position: absolute;
bottom: 50px;
left: 50px;
border: 4px solid white;
padding: 10px 25px;
font-size: 16px;
font-weight: 600;
color: white;
cursor: pointer;
& a{
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  &:hover{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
  &:visiter{
    color: white;
    text-decoration: none;
  }
}
&:hover{
  background-color: #262626;
  transition: .3s ease;
}
}

.active-menu-item{
  background-color: #101010;
}

.navbar-collapse{
  padding: 0!important;
}

.footer-search{
  display: none;
}

.nav.navbar-nav{
  width: calc(100% - 250px);
  & li{
    display: inline-block;
margin: 0px auto;
float: none;
& a{
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 500;
  margin: 0 auto;
  
}
  }
}

.search-ul{
  display: none;
  list-style-type: none;
  padding-left: 0;
}

.navbar-right{
  width: 50px!important;
  & li > img{
  width: 35px;
  height: auto;
  padding: 5px 0;
  cursor: pointer;
  }
}

.navbar-inverse{
  background-color: #2d3235!important;
  border-radius: 0!important;
  border: 0!important;
  margin-bottom: 0;
}

.search-icon{
  
}

.header-wrapper{
  width: 100%;
  padding: 0;
  & ul{
    margin: 0 auto!important;
    & li > a{
      color: white!important;
    }
  }
  & a.navbar-brand{
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    & img{
      width: auto;
      height: 100%;
      background-color: #0093DD;
  }
  }
}

                      /*-------CONTENT-ALL-------*/
                     
.slider{
  min-height:300px;
}

.clouds{
  width: 100%;
  display: block;
  font-size: 1.2vw;
  color: #333;
  margin: 30px 0 0px 0;
  text-align: left;
  font-size:24px;
}

.cloud-tag {
  line-height: 1.6em;
    & a{
      color: #333;
      text-decoration: none;
    }
   & .s { font-size: 0.8vw; }
   & .m { font-size: 1.0vw; }
   & .l { font-size: 1.2vw; }
   & *:hover{
     text-decoration: none;
     color: #333;
   }
}

.content-article{
  text-align:center;
  min-height:250px;
  margin-top: 15px;
  margin-bottom:4vh;
  padding-right: 15px;
  & .article-title{
      border-bottom: 1px solid #333;
      margin: 10px 0 10px 0;
  }

}

.article-title{
    min-height: 30px;
    min-width: 170px;
    text-align: right;
    & h3{
      position: absolute;
      top:0;
      left: 10px;
      margin-top: 0;
     font-size:24px;
     display: inline;
     }
    & a{
      text-decoration: none;
      color:#fff;
      font-size:1.2vw;
      padding: 2px 15px;
      background-color: #0093DD;
      &:hover{
        color: #333;
        text-decoration: none;
        transition:all 0.2s;
        border: 3px solid #0093DD;
        background-color: #FFF;
      }
      }
  }
  
.article{
    //max-height: 300px;
    //min-height: 125px;
    float: none;
    display: inline-block;
    height:270px;
    width:250px;
    font-size: 0.8vw;
    margin: 10px 0 10px 0;
    & .article-img{
      margin: 10px 0 10px 0;
      padding: 0;
       height: 150px;
        width: 100%;
      & img{
       
       // min-height: 50px;
      }
    }
    & .article-text{
      height:65px;
       overflow: hidden;
       padding-left: 10px;
       color: #333;
       text-align: justify;
      // display:table;
       & p{
         display: table-cell;
         vertical-align: middle;
         text-align: justify;
          height: 50px;
       }
    }

  }

.content-page{
  min-height:150px;
   & .page-sidebar{
     padding-left:0px;
     & h3{margin:0px}
    & .interview{
      background:#ebebeb;
      min-height:130px;
      border-top: 1px solid #333;
      margin-top: 3px;
      margin-bottom:5px;
      padding:5px;
    }
    & .cloud-tag{
      min-height:130px;
       background:#ebebeb;
      margin-bottom:30px;
     }
     .clouds{ border-bottom: 1px solid #333;}
  }
  & .page{
    text-align:center;
    & .article-title{
          border-bottom: 1px solid #333;
          margin-bottom: 15px;
          & h3{
            margin-top: 0;
            position: absolute;
            top: 0;
            left: 0;
          }
          
    }

     padding: 0px;
  }
}

.page-preview{
      
      min-height: 100px;
      margin-bottom: 10px;
      padding-top: 10px;
      & img{
       
        height:180px;
        //max-height: 300px;
        width: 100%;
        //min-height: 100px;
      }
      & a{
        display:block;
        height:180px;
        width:auto;
      }
      & .page-text{
        height: 100%;
        position: absolute;
        padding: 0;
        top: 0;
        left: 0;
        margin-bottom:-200px;
        line-height:200px;
        opacity: 0;
        text-align: center;
        background: rgba( 25,40,247, 0.3);
        & a{
          text-decoration:none;
          & span{
            position: absolute;
            top: 50%;
            left: 0;
            line-height: 100%;
            width: 100%;
            font-size: 10px;
            padding: 10px;
            color: #FFFFFF;
          }
        }
         }
      
    }

.article:hover{
  background:#ebebeb;
}

//.page-preview:hover{
 //& .page-text{
   //opacity: 1 !important;
   //transition: ease-out 0.4s;
  //   }
  //}

                            /*-------CONTENT-SHOW-------*/
.carousel-control{
   background-image: none!important;
       & .glyphicon-chevron-left{
        margin-left: -60px;
         }
       & .glyphicon-chevron-right{
        margin-right: -60px;
         }
       }

.show-keywords{
  margin: 20px 0 10px 0;
  & a{
    &:hover{
      color: #333;
      text-decoration: none;
      transition: .5s ease;
    }
  }
}

.about-author{
  margin-top: 10px;
  padding: 0;
}

.author-link{
  display: block;
  font-size: 1.5vw;
  &:hover{
    text-decoration: none;
    color: #333;
    transition: .5s ease;
  }
}
.author-item{
    min-height: 180px;
    margin: 10px 0 0 0;
    padding: 0;
    border-top: 1px dotted #333;
    background-color: #8ebdd5;
    & .author-about-me{
      margin-top: 15px;
      & span{
        display: block;
        width: 100%;
        padding: 10px 0 0 0;
      }
      & .about-author-info{
        padding-left: 10px;
        color: #333;
        font-size: 1.3vw;
      }
    }
    & .author-about-face{
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center;
      & img{
        min-height: 130px;
        min-width: 130px;
        max-height: 130px;
        max-width: 130px;
        border-radius: 50%;
      }
    }
  }
.about-author-name{
        font-size: 1.5vw;
        color: #333;
      }

 .page-wapper{                   
    & .page-body{
    min-height:200px;
     font-family:MS Sans Serif;
    & .page-text{
       & .page-title{
         text-align:center;
         min-height:70px;
         
         & .page-show-head{
           min-height: 300px;
           margin-bottom: 10px;
           padding: 0;
           & .page-show-preview{
             text-align: left;
             padding: 0;
             & span{
               padding: 5px 10px 5px 10px;
               display: block;
               margin: 15px 0 15px 0;
               font-size: 1vw;
               background-color: #8ebdd5;
               color: #333;
             }
           }
           & .fixt{
             padding: 0;
             max-height:500px;
            
           }
           & div{
             & span{
             }
             & .page-show-header{
               font-size: 2vw;
               color: #333;
               display: block;
               width: 100%;
               margin: 0 0 20px 0;
               text-align: left;
             }
             & .page-show-text{
               font-size: .7vw;
               margin: 10px 0 10px 0;
               color: #333;
             }
             & img{
               //max-height: 300px;
               width: 100%;
               min-height: 50px;
             }
           }
         }
         
       & .page-img{
           & img{
             width:150px;
             height:auto;
             float: left;
             margin: 10px;
           }
          } 
       }
       & .page-info{
       padding-top: 10px;
       border-top: 1px solid #333;
        }
       & .about-autor{
        min-height:80px;
        }     
       & .comment-area{
         & #new_comment{
           width: 100%;
         }
         margin-top: 20px;
         & .media{
           width: 100%;
           & .comment-item{
             border-left: 3px solid #C0C0C0;
             & .comment-header{
               background-color: #F0FFF0;
               padding: 0;
               & img{
                 height: 50px;
                 width: 50px;
               }
             }
           }
           & .comment-text{
             display: block;
             margin-top: 8px;
             font-size: .8vw;
             font-color: #333;
           }
           & span{
             font-size: .7vw;
             color: #333;
           }
           & .comment-name{
             color: #333;
             font-weight: 600;
             
           }
           & .comment-date{
             padding-left: 40px;
             font-weight: 400;
           }
         }
        } 
      }
     & .read-more{
       padding-bottom: 11px;
       margin-top: 15px;
       background:#ebebeb;
       & h4{
         margin: 10px 0 10px 0;
         border-bottom: 1px solid #333;
         padding-right:0!important;
       }
     & a{
       text-decoration:none;
      // margin:5px;
       min-height: 50px;
     }
     & .reclam{
       text-align:center;
       min-height:100px;
       min-width:100px;
     }
   }
  } 
  & .comment{
        min-height:80px;
        & textarea{
          resize:none;
           width: 420px;
           height: 70px;
           display: block;
          }
        & input{
          height: 30px;
          width: 120px;
        }  
        } 
                        
 }                 
 
 #new_comment{
   & textarea{
     width: 100%;
   }
 }
 
 .page-set{
         margin-bottom: 10px;
         text-align: left;
         padding: 0;
         & a{
           text-decoration: none;
           &:hover{
            color: #333;
            text-decoration: none;
            transition: .5s ease;
          }
         }
         & span{
           margin: 0 10px 0 0;
         }
          & .page-author{
            color: #333;
            font-size: 1vw;
          }
          & .pg-time{
            color: #333;
            font-size: 1vw;
          }
          & .page-categories{
            font-size: 1vw;
          }
          }
 
 .page-recent{
  
   & .page-recent-image{
     padding: 0px;
     height:60px;
       }
   & .page-recent-text{
       color: #333;
       font-size: .7vw;
       font-weight: 400;
       display: block;
       //padding-left: 10px;
     }
    background: #ebebeb;
   border-bottom: 1px solid #333;
   padding: 5px 5px 5px 0;
     & .page-recent-header{
       color: #333;
       font-size: .7vw;
       font-weight: 600;
       display: block;
     }
     & .preview-recent-image{
      // max-height: 100px;
       //width: 100%;
       //min-height: 50px;
     }
     & .recent-credentials{
       padding: 5px 0 5px 0;
       & .recent-author{
         padding-left: 0;
         text-align: left;
         & .recent-author-name{
           float: left;
           color: #333;
           font-size: .7vw;
           & a{
             text-decoration: none;
             &:hover{
      color: #333;
      text-decoration: none;
      transition: .5s ease;
    }
           }
         }
       }
       & .recent-date{
         text-align: right;
         font-size: .7vw;
       }
     }
 }
 
 .search-form{
  float: left;
  margin: 10px 0 10px 0;
  float: left;
& input[type="search"] {
    border: none; 
    outline: none;
    width: 80%;
    height: 35px;
    -webkit-appearance: none;  
    padding-left: 20px;
    padding-right: 50px;
    vertical-align: middle; 
    height: 25px;
    font-size: 20px;
    border-radius: 20px;
   }
& input[type="submit"] {
    width: 20px; 
    height: 20px; 
    border: none; 
    margin-left: -50px;
    background: image-url('icons/347.png') no-repeat center center; 
    background-size: cover;
 }
}
.more-popular{
  & h4{
    margin: 10px 0px;
    border-bottom: 1px solid #333;
  }
}
 .more-popular{margin-top:50px;
   background:#ebebeb;
   padding-bottom:10px;
 }
                                /*-------FOOTER-------*/

.footer-div{
  background-color: #262626;
  min-height: 200px;
  width: 100%;
}

.footer-content{
  & .footer-ul-placeholder{
    padding-top: 20px;
    & span{
      padding: 10px 0;
      border-bottom: 1px solid rgba(255,255,255,.2);
      font-weight: 600;
      color: #999;
    }
  }
  & .footer-ul{
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
    & li{
      width: 100%;
      border-bottom: 1px solid rgba(255,255,255,.2);
      padding: 7px 0 0 0;
      &:hover{
        border-bottom: 1px solid white;
      }
      &:hover > a{
        color: white;
      }
      & a{
        color: #999;
        width: 100%;
        display: block;
        & i{
          width: 25px;
        }
        &:hover{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.footer-rights{
  padding-top: 20px;
  text-align: right;
  & span{
    color: #999;
  }
}


//---------------------------- INDEX -----------------------------//

.index.container{
  margin-top: 20px;
  & .article{
    margin-top: 0px;
    margin-bottom: 10px;
    border-top: 1px solid #333;
  }
}

.no-pages-found{
    color: #333;
    font-size: 1.5vw;
    margin-bottom: 35px;
    display: block;
  }

.index-page-preheader{
      text-align: justify;
  & a{
    font-weight: 600;
    color: #333;
    text-decoration: none;
    font-size: 0.7vw;
    display: block;
    overflow: hidden;
    height: 55px;
  }
}

.index-page-predate{
  font-size: 10px;
}

.index-page-preauthor{
  font-size: .6vw;
  color: #333;
  padding: 0;
  & a{
    text-decoration: none;
    &:hover{
      color: #333;
      text-decoration: none;
      transition: .5s ease;
    }
  }
}

.pages-found{
}

.spacer{
  margin-bottom: 25px;
  width:250px;
  height:275  px;
  float: none;
  display: inline-block;
  & .text-center{
    height:50px;
    padding: 0;
    display:table;
    & span{
      text-align: justify;
      display: table-cell;
      vertical-align: middle;
      & a{
        margin:0;
        height:55px;
        overflow:hidden;
      }
    }
    }
  & .cont-page-preheader{
    height:45px;
  }
  }
.spacer:hover{
  background:#ebebeb;
}
.page-preview-credentials{
    padding: 5px;
   
  }

// ------------------------------ AUTHOR PARTIAL --------------------------------------//

.author-socials{
  border-top:1px dotted;
  margin-top:10px;
  & ul{
    list-style-type: none;
    padding: 0;
    & li{
      width: 34px;
      //padding-left: 0;
      display: inline-block;
      margin: 0 20px 0 0;
      font-size: 24px;
      color: #333;
      & a{
        margin: 0 auto;
        display: block;
        text-align: center;
        border-radius: 4px;
        &:hover{
          background-color: #008080;
          transition: .5s ease;
        }
        &:hover > i{
          color: #fff;
          transition: .5s ease;
        }
      }
    }
  }
}


//--------------------------------- AUTHOR PAGE --------------------------------//

.author-page.container{
  
  margin-top: 25px;
  margin-bottom: 25px;
  & .author.container{
    background-color: #8ebdd5;
  }
  & .author-item{
  }
}



.author-page{
  
  & .page-text{
        & a{
          & span{
            position: absolute;
            top: 25%;
            left: 0;
            line-height: 100%;
            width: 100%;
            font-size:1.6vw;
            color: #333;
          }
      }
   }
}
.author-pages{text-align: center;}

//----------------------------------- CAROUSEL -----------------------------------//

.container.slider{
  height: inherit;
  min-height: 300px;
  margin-top: 10px;
  height: 600px;
  & #wrapper {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
}
  & #carousel {
  width: 100%;
  overflow: hidden;
}
  #carousel img {
  display: block;
  max-height: 600px;
  float: left;
}
 
  #source {
  text-align: center;
  width: 400px;
  margin: 0 0 0 -200px;
  position: absolute;
  bottom: 10px;
  left: 50%;
}
}

.who-page{
  & .coolstory{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  h2{
    display: block;
    margin: 0 auto;
    padding: 15px 0 15px 0;
    width: 100%;
    background-color: #D0D0D0;
    color: #333;
    font-size: 2.3vw;
  }
  & p{
    font-size: 1vw;
    color: #333;
    letter-spacing: 2px;
  }
  & a{
    display: block;
    color: #333;
    font-size: 1vw;
    float: right;
    &:hover{
      color: #333;
      text-decoration: none;
      transition: .5s ease;
    }
  }
}

.contacts.container{
  & .author-item{
    background-color: white;
    margin: 15px 0 15px 0;
  }
  & .author.container{
    & .author-about-face{
      & img{
        width: 200px;
        height: 200px;
      }
    }
    padding-top: 25px;
    & .occupy{
      & *{
      font-size: 1.5vw;
      }
    }
  }
}


                                 //---------MEDIA------------//
                                 
@media all and (max-width: 420px){
  
  .container.slider{
    height: 300px;
  }
  
  .pages-found{
    padding: 0;
  }
  
  .footer-text{
    line-height: 15px!important;
  }
  
  .span-who-we-are, .span-contacts, .span-partners {
    font-size: 12px!important;
  }
  
  .search-form{ 
    & input[type="search"]{
      font-size: 12px!important;
    }
  }
  
  .karazina{display:none;}
 .article-title{
    & a{font-size:3.5vw;}
  }
  
 .article-text{
    & span{font-size:2vw;font-weight:600;}
  }
  
.cloud-tag{
  & .clouds{font-size:3.5vw;}
  & .l { font-size: 4.5vw; }
  & .m { font-size: 3.8vw; }
  & .s { font-size: 3.1vw; }
}  
 .no-pages-found{
   & i{font-size:4.5vw;}
 }
 .index-page-preheader{
   & a{font-size: 2.5vw; min-height: 25px;}
 }
 .index-page-predate{
   font-size: 10px;
 }
 .index-page-preauthor{
   font-size: 10px;
   
 }
 .about-author-name{font-size:4.5vw;}
 
 .author-link{font-size:3.2vw;}
 
 .about-author-info{
   & i{font-size:3.9vw;}
 }
 
 .who-header{
   & h2{font-size:5vw;}
 }
 
 .coolstory{
   & p{font-size:3.8vw;}
   & a{font-size:4vw;}
 }
 
  .footer-text{
    font-size: 13px!important;
  }
 .occupy{
   & span{font-size:4vw !important;}
 }
 .page-show-header{font-size: 4.5vw !important;}
 .page-categories{font-size: 3.5vw !important;}
 .pg-time{font-size: 3.5vw !important;}
 .page-author{font-size: 3.5vw !important;}
 
 
 .page-recent-header{font-size: 3.7vw !important;}
 .recent-author-name {font-size: 2.8vw !important;}
 .recent-date{font-size: 3vw !important;}
 .page-recent-text{display:none !important;}
 .page-show-preview{
   & span{font-size: 3vw !important;}
 }
 
 /* то что я впилил */
 .slider{height:300px !important;} 
  .caro-item{
    img{
      height:300px!important;
    }
  }
  .caro-header{
    font-size:4.5vw;
    text-wrap: break-word;

  }
 
}


@media all and (min-width: 421px) and (max-width: 768px){
  
  .karazina{display:none;}
  .article-title{
    & a{font-size:2vw;}
  }
  
 .article-text{
    & span{font-size:2vw;font-weight:600}
  }
  
  .footer-text{
    line-height: 15px!important;
  }
  
.cloud-tag{
  & .clouds{font-size:2.8vw;}
  & .l { font-size: 2.8vw; }
  & .m { font-size: 2.4vw; }
  & .s { font-size: 2.0vw; }
}  
 .no-pages-found{
   & i{font-size:2.5vw;}
 }
 .index-page-preheader{
   & a{font-size:2.2vw;}
 }
 .index-page-predate{
   font-size: 11px;
 }
 .index-page-preauthor{
   font-size: 11px;
 }
 .about-author-name{font-size:2.5vw;}
 
 .author-link{font-size:2.5vw;}
 
 .about-author-info{
   & i{font-size:2.1vw;}
 }
 
 .who-header{
   & h2{font-size:2.5vw;}
 }
 
 .coolstory{
   & p{font-size:2.5vw;}
   & a{font-size:2.5vw;}
 }
 
 .occupy{
   & span{font-size:4vw !important;}
 }
 .page-show-header{font-size: 3.2vw !important;}
 .page-categories{font-size: 2vw !important;}
 .pg-time{font-size: 2vw !important;}
 .page-author{font-size: 2vw !important;}
 
 
 .page-recent-header{font-size: 2vw !important;}
 .recent-author-name {font-size: 1.8vw !important;}
 .recent-date{font-size: 2vw !important;}
 .page-recent-text{font-size:1.5vw !important;}
 .page-show-preview{
   & span{font-size: 2vw !important;}
 } 
                /* то что я впилил */
 .slider{height:350px !important;} 
  .caro-item{
    img{
      height:330px !important;
    }
  }
  
   .caro-header{
    font-size:2.5vw;
    text-wrap: break-word;

  }
  
 .flex{
   display:flex;
   -moz-display:flex;
   -webkit-display:flex;
   -o-display:flex;
   flex-direction:column;
   -moz-flex-direction:column;
   -webkit-flex-direction:column;
   -o-flex-direction:column;
   & .about-author{
     order:0;
     -webkit-order:0;
     -moz-order:0;
     -o-order:0;
   }
   & .more-popular{
     order:1;
     -webkit-order:1;
     -moz-order:1;
     -o-order:1;
   
     
   }
 }
 
}

@media all and (min-width: 768px) and (max-width: 1280px){
  .article-title{
    & a{font-size:1.2vw;}
  }
  
 .article-text{
    & span{font-size:1vw;font-weight:600;}
  }
  
.cloud-tag{
  & .clouds{font-size:2.1vw;}
  & .l { font-size:1.5vw; }
  & .m { font-size: 1.2vw; }
  & .s { font-size: .9vw; }
}  
 .no-pages-found{
   & i{font-size:2.5vw;}
 }
 .index-page-preheader{
   & a{font-size: 13px; min-height: 15px;}
 }
 .index-page-predate{
   font-size: 11px;
 }
 .index-page-preauthor{
   font-size: 11px;
 }
 .about-author-name{font-size:1.5vw;}
 
 .author-link{font-size:1.5vw;}
 
 .about-author-info{
   & i{font-size:1.2vw;}
 }
  
 .who-header{
   & h2{font-size:2vw;}
 }
 
 .coolstory{
   & p{font-size:1.6vw;}
   & a{font-size:1.6vw;}
 }
 
 .occupy{
   & span{font-size:2.1vw !important;}
 }

 
 .page-recent-header{font-size: 1vw !important;}
 .recent-author-name {font-size: 0.8vw !important;}
 .recent-date{font-size: 0.9vw !important;}
 .page-recent-text{font-size:10px !important;}
 .page-show-preview{
   & span{font-size: 1vw !important;}
 }  
 
 /* то что я впилил */
 .slider{height:400px !important;} 
  .caro-item{
    img{
      height:400px!important;
    }
  }
  
   .caro-header{
    font-size:1.5vw;
    text-wrap: break-word;
  }
 
}

.socials-module{
  margin: 10px 0 10px 0;
}

.caro-item{
  height: 500px;
  display: inline-block;
  & img{
    width: 100%;
    height: 500px;
  }
  & .caro-header{
    text-wrap: break-word;
    
  }
}

.header-link{
  position: absolute;
  display: block;
  font-size: 32px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  color: white;
  background-color: rgba(0,0,0,.3);
  & span{
    padding-left: 10px;
  }
  &:hover{
    text-decoration: none;
    color: white;
  }
  
}
