<div class="footer-div col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="footer-content">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-offset-lg-2 col-lg-8">
		<div class="footer-ul-placeholder col-xs-6 col-sm-4 col-md-3 col-xs-3">
			<span class="footer-ul-span"> ПУЛЬС </span>
			<ul class="footer-ul">
				<li> <a href="<%= about_path %>"> О нас </a> </li>
				<li> <a href="<%= contacts_path %>"> Контакты </a> </li>
			</ul>
		</div>
		
		<div class="footer-ul-placeholder col-xs-6 col-sm-4 col-md-3 col-xs-3">
			<span class="footer-ul-span"> МЫ В СОЦСЕТЯХ </span>
			<ul class="footer-ul">
				<li>
					<a href="https://vk.com/pulskarazina"> <i class="fa fa-vk"> </i> Vkontakte </a>
					</li>
					<li>
						<a href="https://www.facebook.com/pulsekarazina"> <i class="fa fa-facebook"> </i>  Facebook </a>
					</li>
					<li>
						<a href="https://www.instagram.com/pulse_karazina/"> <i class="fa fa-instagram"> </i> Instagram  </a>
					</li>	
			</ul>
		</div>
		
		<div class="footer-ul-placeholder col-xs-6 col-sm-4 col-md-3 col-xs-3">
			<span class="footer-ul-span"> НАШИ ПАРТНЁРЫ </span>
			<ul class="footer-ul">
				<li> <a href="http://elitech.in.ua"> Elitech WEB-studio</a> </li>
			</ul>
		</div>
		
		<div class="footer-rights col-xs-6 col-sm-4 col-md-3 col-xs-3">
			<span class="footer-ul-span rights"> Pulse, 2016. All rights reserved</span>
		</div>
		
	</div>
	</div>
</div>
	
