<div class="container header-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="header-categories col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<ul>
			<li> <a href="#">Новости</a></li>
			<li> <a href="#">Эксклюзив</a></li>
			<li> <a href="#">Возможности</a></li>
			<li> <a href="#">Лайфстайл</a></li>
			<li> <a href="#">Советы</a></li>
			<li> <a href="#">Афиша</a></li>
		</ul>
		
	</div>
	
	<div class="header-logo col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<a href="#"><img src="#" alt="cardio"></a>
		<h2>ПУЛЬС</h2>
	</div>
</div>
